extends layout

block content
  .main-message
    .container
      .row
        .col-lg-5
          img(src="images/main-image.jpg")
        .col-lg-6.padding-five-percent-top
          h1 Your morning ritual, refined.
          h4.padding-five-percent-top Get underwear, socks, and shaving essentials shipped to your door. The easiest way to stay fresh and clean.
          h2.margin-five-percent-top.action-button
            a(href="#") Products & Pricing <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          .smaller-text.padding-two-percent-top Fear commitment? No problem. We offer a hassle free return promise.
          .spacer30
  .container#main-body
    .row
      .featured-title Featured in
      .col-lg-12.featured-container
        div: img(src="images/featured/techcrunch.jpg")
        div: img(src="images/featured/nbc.jpg")
        div: img(src="images/featured/maxim.jpg")
        div: img(src="images/featured/newyorktimes.jpg")
        div: img(src="images/featured/inc.jpg")
        div: img(src="images/featured/thrillist.jpg")
        div: img(src="images/featured/huffpo.jpg")
        div: img(src="images/featured/npr.jpg")
        div: img(src="images/featured/espn.jpg")
    .row.padding-five-percent-top
      .col-lg-8.homepage-whatis
        .blue-header What's Manpacks?
        h4 Manpacks is a lifestyle service for men who are too busy to worry about basics (socks, underwear, shirts, shaving supplies, condoms, etc.)
        .detail-text Whether they are busy working long hours at the office, vacationing, playing sports, making music, working out at the gym... we make it easy to stay on top of having the essentials. We always put the customer first, and enhance men's lives with name-brand products in their quarterly deliveries.
        .spacer15
        .detail-text We're user-friendly and allow customers to modify, rush, or delay shipment at any time.
        .spacer30
      .col-lg-4.well
        .blue-header Why Manpacks?
        .detail-text
          .spacer15
          div <span class="bold">Discover the best men's products</span> to look your best & attract others.
          .spacer15
          div <span class="bold">Modify, delay, or rush shipments</span> to get what you need, when you need it.
          .spacer15
          div <span class="bold">Automate routine purchases</span> and never shop for them again.
    .spacer15
    .lightgray-line
    .row.padding-five-percent-top.testimonials
      for t in testimonials
        .col-lg-6
          .row
            .col-lg-1
            .col-lg-2
              img(src="images/testimonials/#{t.image}")
              .spacer15
            .col-lg-8
              .t-body= t.body
              .t-name - #{t.name}
              .spacer30
            .col-lg-1
